{
  "plugins": [
    [
      "@babel/plugin-transform-runtime", {
        "helpers": false,
        "polyfill": true,
        "regenerator": true,
        "moduleName": "@babel/runtime"
      }
    ],
    ["@babel/plugin-proposal-object-rest-spread"]
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react"],
}
